.buttonload {
  border: none; /* Remove borders */
  color: Green; /* White text */
  padding: 10px 12px; /* Some padding */
  font-size: 12px /* Set a font size */
}
.fa {
  margin-left: -12px;
  margin-right: 8px;
}

#myBar {
  width: 1%;
  height: 5px;
  background-color: #04AA6D;
}
#performValidation {
  display: none;
  cursor: pointer;
}
.search-sm input {
    background: 0 0;
    outline: initial!important;
    border-radius: 3px;
    padding: .25rem .75rem .25rem .75rem;
    font-size: .76rem;
    line-height: 1;
    border: 1px solid #8f8f8f;
    color: #3a3a3a;
    height: initial;
    width: 400px;
}
.data-table-rows table {
  border-spacing: 0 .5rem!important;
}
.input-daterange input {
     text-align: left !important;
}
.navbar {
    background: #fff;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
    padding: 0;
    height: auto;
}
.navbar .user img {
    margin-left: 4px;
    width: 20px;
    padding-bottom: 6px;
}
main {
    margin-left: 50px !important;
    margin-top: 60px;
    margin-right: 60px;
    margin-bottom: 0px;
}
footer.page-footer {
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    font-size: 0.6rem;
}
.breadcrumb {
    padding: 0 !important;
    margin-bottom: 0;
}
footer.page-footer p {
    font-size: 0.6rem;
}
.w-sm {
    width: 30px !important;
}

table{
    border-collapse: collapse;
}
table thead tr th{
    border-bottom: 1px solid #000000;
}
table th, table td {
    border-left: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
}
table th, table td{ /* Added padding for better layout after collapsing */
    padding: 4px 8px;
}